header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .header-logo {
        display: flex;
        flex-basis: 40%;

        > img {
            max-width: 180px;
        }
    }
}

.header-buttons  {
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
 }
 
 .top {
     flex-direction: column-reverse;
     flex-wrap: nowrap;

     img {
        min-width: 225px;
    }
 }

.first, .second {
    img {
        min-width: 250px;;
    }
}

.item {
    padding-top: 1rem;
    margin: .2rem;
}

img {
    width: 100%;
    height: auto;
}

.top-item:nth-child(-n + 2) {
    display: none;
}


@media (min-width: 700px) {
    .top {
        display: flex;
        flex-direction: row-reverse;
    }

    .top-item {
        flex-basis: calc(33% - 1rem);
        padding-right: .5rem;
        padding-left: .5rem;
        max-width: calc(33% - 1rem);
    }

    .first, .second {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 880px) {
    .first, .second {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1120px) {

    .first, .second {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .item:nth-last-child(-n + 2) {
            grid-column: span 2;
        }
    }
}

@media (min-width: 1280px) {
    .platform-title {
        display: block;
        align-self: center;
        flex-basis: 60%;
        padding-left: 1rem;
    }

    .top-item:nth-child(-n + 2) {
        display: block;
    }
    .first, .second {
        display: flex;
        align-items: center;

        .item {
            flex-shrink: 2;
            transition: flex-shrink .2s linear;

            &:hover {
                flex-shrink: 1;
            }
        }

        img {
            min-width: unset;;
        }
    }
}
